body
{
background-color:#FFB9E3;
font-family:arial;
margin-top:1cm;
margin-right:1cm;
margin-left:1cm;
margin-bottom:1cm;
}
p
{
font-size:100%;
font-family:Century Gothic;
font-weight:normal;
text-transform:2;
text-align:justify;
font-weight:90;
}
H1
{
font-size:1cm;
font-family:Cooper;
text-align:center;
background-color:#FFB6C1;
}
H2
{
font-size:7MM;
font-family:Forte;
text-align:center;
}
img
{
float:left;
width:240px;
heigh:240px;
margin-left:1%;
}
table
{
font-family:Book Antiqua;
text-align:center;
font-siz:9pt;
margin:30px;
width:360;
text-algn:center;
background-color:#DDA0DD;
}
body.segundo
{
background-image:url(a.jpg);
font-family:Century Gothic;
font-size:1cm;
margin-top:1mm;
margin-right:1mm;
margin-left:1mm;
margin-bottom:1mm;
}
body.tercero
{
background-image:url(c.jpg);
font-size:2cm;
margin-top:2mm;
margin-right:2mm;
margin-left:2mm;
margin-bottom:2mm;
